
  <!--=== Content Part ===-->
    <div class="container content">		
        <!--Error Block-->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="error-v1">
                    <span class="error-v1-title">Oh snap!</span>
                    <span>That’s an error!</span>
                    <p>Something went wrong on the server. Please try again.</p>
                    <% if (error) { %>
                    <p>Some details: <%= message %><p>
                    <pre><%= error.stack %></pre>
                    <% } %>
                    <a class="btn-u btn-bordered" href="/">Back Home</a>
                </div>
            </div>
        </div>
        <!--End Error Block-->
    </div>	
    <!--=== End Content Part ===-->
