

<form class="form-inline" role="form" method="post">
  <div class="form-group">
    <input type="text" class="form-control" id="link" name="link" placeholder="File URL" value="http://localhost:3000/dl/git.exe">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="name" name="name" placeholder="File Name" value="git.exe">
  </div>
  <button type="submit" class="btn btn-default">Download</button>
</form>