{% extends 'layout.html' %}

{% block content %}

<div ng-controller="downloadController">

    <div class="download-box">
        <form class="form-inline row" method="post" role="form" action="/" data-ng-show="!isDownloading">
            <div class="form-group col-md-6">
                <input type="text" class="form-control" id="link" name="link" placeholder="Paste your file's URL here" data-ng-model="link">
            </div>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" id="name" name="name" placeholder="File Name" data-ng-model="name">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary" id="download" data-ng-disabled="!isValid" data-ng-click="download()">Download</button>
            </div>
            
        </form>

        <div class="alert alert-success show-animation" role="alert" data-ng-show="isDownloading">
            Your file is being downloaded. You {{downloadList.length}} - Proxy 0.&nbsp;<a href="javascript:void(0)" class="alert-link" data-ng-click="downloadAgain()">Let's get another file</a>.
        </div>
    </div>
    
    <div class="download-box" data-ng-show="downloadList.length > 0">
        <p>So far, you have downloaded the following:</p>
        
        <pre>{{downloadList}}</pre>
        
        <ul>
            <li data-ng-repeat="dl in downloadList"><em>{{dl.name}}</em>: {{dl.link}}</li>
        </ul>
    </div>

</div>

{% endblock %}
